doctype html
html
	head
		block headStuff
	body
		header
			block headerStuff
		nav
			block navStuff
				a(href='/') Back To Home
		main#main
			block mainStuff
				DEFAULT TEXT.
		footer
			block footerStuff
