extends layout.pug

block headStuff
	title Test Page

block headerStuff
	h1 Company Website

block mainStuff
	b This headline will overwrite any default content in the content block.

block footerStuff
	p &copy; Linden
